<div class="masthead">
  <div class="container text-center my-auto intro-text">
      <h1 class="mb-4 name">Ben Daniel-Greep</h1>
      <h3 class="mb-5">
        <em>Welcome to my Landing Page</em>
      </h3>
      <a class="btn btn-dark btn-xl js-scroll-trigger" href="#about">Find Out More</a>
    </div>
</div>
<section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <%= image_tag 'profile-round.jpg', class:'profile-pic' %>
          <h2>I'm a Full Stack Developer</h2>
          <hr class= "half-line">
          <p class="lead mb-5">I love making apps, designing websites, and building things with Arduino.<br>Please read on to
           find out about my projects!</p>
          <a class="btn btn-dark btn-xl js-scroll-trigger" href="#portfolio">My projects</a>
        </div>
      </div>
    </div>
  </section>
  <!-- portfolio apps -->
  <section class="content-section" id="portfolio">
    <div class="container text-center">
        <div class="content-section-heading text-center">
          <h3 class="text-secondary">Portfolio</h3>
          <h2 class="mb-3">Web Projects</h2>
          <hr class= "half-line">
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 coming-soon">
          <a class="portfolio-item" href="#!">
            <div class="caption">
              <span class="coming-soon">
                <div class="h2">Coming soon...</div>
                <p class="mb-0">BorrowMyBathroom</p>
              </span>
            </div>
          </a>
        </div>
        <div class="col-lg-6" id="pawsome-card">
          <a class="portfolio-item" href="http://www.pawsome.org.uk">
            <div class="caption">
              <span class="pawsome">
                <div class="h2">Pawsome</div>
                <p class="mb-0">Built over two weeks inside a team at Le Wagon, this app
                  encourages ethical adoption by helping users
                  find their perfect pets, with animals from mulitple adoption centres. Features include a matching
                  system and a real-time chatroom.
                  </p>
                </span>
            </div>
          </a>
        </div>
      </div>
      <a class="btn btn-dark btn-xl js-scroll-trigger" href="#arduino">Arduino Projects</a>
    </div>
  </section>
  <hr>
  <section class="content-section" id="arduino">
    <div class="container">
      <div id="web-projects-title" class="container">
        <div class="content-section-heading text-center">
          <h2 class="mb-3">Arduino Projects</h2>
        </div>
        <hr class="half-line">
      </div>
      <div class="row no-gutters">
          <div class="col-lg-6" id="fish-card">
            <a class="portfolio-item" href="#!">
              <div class="caption">
                <span class="google-fish">
                  <div class="h2">Google Fish</div>
                  <p class="mb-0">Big Mouth Billy Bass meets Google Nest Mini. Using Arduino and hand-crafted C++, lots
                    of soldering and gluing, you can witness this fully responsive and operational mechanical fish as your
                    Google assistant at home.
                  </p>
                </span>
              </div>
            </a>
          </div>

          <div class="col-lg-6" id="useless-box-card">
            <a class="portfolio-item" href="#!">
              <div class="caption">
                <span class="useless-box">
                  <div class="h2">Useless Box</div>
                  <p class="mb-0">Utilising powerful servos and responsive code to create personality. A hand-made box, Arduino, dynamic C++
                  and a fully integrated power circuit, this box has real character, and doesn't like being disturbed!</p>
                </span>
              </div>
            </a>
          </div>
          <div class="col-lg-6" id="feeder-card">
            <a class="portfolio-item" href="#!">
              <div class="caption">
                <span class="cat-feeder">
                  <div class="h2">Cat Feeder</div>
                  <p class="mb-0">Button operated food delivery system - for cats! Hand made from an old
                  Pringles tube and Arduino, with a single servo and push button operation, your cat can eat when you're
                  out. You can even set a feeding schedule!</p>
                </span>
              </div>
            </a>
          </div>
          <div class="col-lg-6 coming-soon">
            <a class="portfolio-item" href="#!">
              <div class="caption">
                <span class="coming-soon">
                  <div class="h2">Coming soon</div>
                  <p class="mb-0">Something musical...</p>
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
  </section>
  <hr>
  <section class="music-section">
    <div class="" >
      <div class="row text-center">
        <%= link_to image_tag("3.jpg", border: 0), "https://maslink.co.uk/client-directory?client=DANIB2", class: 'profile-pic', target: "blank" %>
        <div class="music-text">
          <h2 class="music-title">
            I am also a classical musician. Click here to find out more!
          </h2>
          <%= link_to "Visit MAS", "https://maslink.co.uk/client-directory?client=DANIB2", class: "btn btn-dark btn-xl mas", target: "blank" %>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="social-links">
        <%= link_to "", "https://github.com/BenDanielGreep", class: "fab fa-github fa-2x", target: "blank" %>
        <%= link_to "", "https://www.linkedin.com/in/ben-daniel-greep-04577060/", class: "fab fa-linkedin-in fa-2x", target: "blank" %>
        <%= link_to "", "https://twitter.com/_BenDG", class: "fab fa-twitter fa-2x", target: "blank" %>
      </div>
    <p>&#169; BenDanielGreep 2021</p>
    </div>
  </footer>
