<div class="masthead">
  <div class="container text-center my-auto">
      <h1 class="mb-1">Ben D.G.</h1>
      <h3 class="mb-5">
        <em>Welcome to my Landing Page</em>
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
    </div>
</div>
<section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <%= image_tag 'profile-round.jpg', class:'profile-pic' %>
          <h2>I'm a Full Stack Developer</h2>
          <p class="lead mb-5">I love building apps, designing websites, and building things with Arduino. Please read on to find out about my projects!</p>
          <a class="btn btn-dark btn-xl js-scroll-trigger" href="#portfolio">My projects</a>
        </div>
      </div>
    </div>
  </section>
  <!-- portfolio apps -->
  <section class="content-section" id="portfolio">
    <div class="container text-center">
        <div class="content-section-heading text-center">
          <h3 class="text-secondary">Portfolio</h3>
          <h2 class="mb-5">Web Projects</h2>
          <hr class= "half-line">
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 coming-soon">
          <a class="portfolio-item" href="#!">
            <div class="caption">
                <div class="h2">Coming soon...</div>
                <p class="mb-0">BorrowMyBathroom</p>
            </div>
          </a>
        </div>
        <div class="col-lg-6 coming-soon">
          <a class="portfolio-item" href="http://www.pawsome.org.uk">
            <div class="caption">
                <div class="h2">Coming soon...</div>
                <p class="mb-0">Pawsome</p>
            </div>
          </a>
        </div>
      </div>
      <a class="btn btn-dark btn-xl js-scroll-trigger" href="#arduino">Arduino Projects</a>
    </div>
  </section>
  <hr>
  <section class="content-section" id="arduino">
    <div class="container">
      <div id="web-projects-title" class="container">
        <div class="content-section-heading text-center">
          <h2 class="mb-5">Arduino Projects</h2>
        </div>
        <hr class= "half-line">
      </div>
      <div class="row no-gutters">
          <div class="col-lg-6" id="fish-card">
            <a class="portfolio-item" href="#!">
              <div class="caption">
                <span>
                  <div class="h2">Google Fish</div>
                  <p class="mb-0">Big Mouth Billy Bass meets Google Nest Mini. Using Arduino and hand-crafted C++, lots
                    of soldering and gluing, you can witness this fully armed and operational mechanical fish.
                  </p>
                </span>
              </div>
            </a>
          </div>

          <div class="col-lg-6" id="useless-box-card">
            <a class="portfolio-item" href="#!">
              <div class="caption">
                  <div class="h2">Useless Box</div>
                  <p class="mb-0">Utilising powerful servos and responsive code to create personality</p>
              </div>
            </a>
          </div>
          <div class="col-lg-6" id="feeder-card">
            <a class="portfolio-item" href="#!">
              <div class="caption">
                  <div class="h2">Cat Feeder</div>
                  <p class="mb-0">Button operated food delivery system - for cats!</p>
              </div>
            </a>
          </div>
          <div class="col-lg-6 coming-soon">
            <a class="portfolio-item" href="#!">
              <div class="caption">
                  <div class="h2">Coming soon</div>
                  <p class="mb-0">Something musical...</p>
              </div>
            </a>
          </div>
        </div>
      </div>
  </section>
  <hr>
  <section>
    <div class="content-section" id="music-section">
      <div class="row text-center">
        <%= link_to image_tag("3.jpg", border: 0), "https://maslink.co.uk/client-directory?client=DANIB2", class: 'profile-pic', target: "blank" %>
        <div class="music-text">
          <h2 class="music-title">
            I am also a classical musician. Click here to find out more!
          </h2>
          <%= link_to "Visit MAS", "https://maslink.co.uk/client-directory?client=DANIB2", class: "btn btn-dark btn-xl", target: "blank" %>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="social-links">
        <%= link_to "", "https://github.com/BenDanielGreep", class: "fab fa-github fa-2x", target: "blank" %>
        <%= link_to "", "https://www.linkedin.com/in/ben-daniel-greep-04577060/", class: "fab fa-linkedin-in fa-2x", target: "blank" %>
        <%= link_to "", "https://twitter.com/_BenDG", class: "fab fa-twitter fa-2x", target: "blank" %>
      </div>
    <p>&#169; BenDanielGreep 2021</p>
    </div>
  </footer>
